*

!/.gitignore
!/README.md
!/pom.xml

!/src/
!/src/main/
!/src/main/java/
!/src/main/java/**

!/src/main/resources/
!/src/main/resources/application.yml

!/src/main/resources/graphql/
!/src/main/resources/graphql/**

!/src/main/resources/svelte/
!/src/main/resources/svelte/.gitignore
!/src/main/resources/svelte/.npmrc
!/src/main/resources/svelte/.prettierignore
!/src/main/resources/svelte/.prettierrc
!/src/main/resources/svelte/eslint.config.js
!/src/main/resources/svelte/package-lock.json
!/src/main/resources/svelte/package.json
!/src/main/resources/svelte/svelte.config.js
!/src/main/resources/svelte/tsconfig.json
!/src/main/resources/svelte/vite.config.ts
!/src/main/resources/svelte/src/
!/src/main/resources/svelte/src/**
!/src/main/resources/svelte/static/
!/src/main/resources/svelte/static/**

!/src/test/
!/src/test/java/
!/src/test/java/**
